.row-content {
  height: 100vh;
}

.row-half {
  height: 50vh;
}

.btn-coral {
  background: lightcoral;
  border: lightcoral;
  color: #fff;
}

.btn-coral:hover {
  background: #e27979;
  border: #e27979;
  color: #fff;
}

footer {
  color: #fff;
}

footer h5 {
  font-size: 1.5rem;
}

footer a {
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;
}

footer a:hover {
  color: lightcoral;
  text-decoration: none;
}

.jumbotron {
  background-image: url("../img/momo-truck.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px !important;
  color: #fff;
}

.overlay {
  background: rgba(41, 45, 31, 0.5);
  border-radius: .75;
  padding: 1rem;
}

.overlay-2 {
  background: rgba(136, 136, 136, 0.5);
  border-radius: .75;
  padding: 1rem;
}

.intro {
  background: lightcoral;
  color: #fff;
}

.intro .img-thumbnail {
  background: #48a2b9;
  border: 1px solid #48a2b9;
}

.intro .lead {
  font-size: 1rem;
}

#vendor-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/8fef1e0a-a5fc-4614-b0bb-c13a037c833f.jpg");
}

#vendor-item-1 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-1 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

#vendor-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/19997ec5-a4a5-4313-9d19-0808aa4dd793.jpg");
}

#vendor-item-2 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-2 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

#vendor-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/92da2897-cfca-43c1-b20f-44cf14cf50d9.jpg");
}

#vendor-item-3 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-3 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

#vendor-item-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("http://4.bp.blogspot.com/-uxkAikx44To/U96MdKfwGwI/AAAAAAAAU9A/gm1s_9IPLk0/s1600/2014-07-12+02.39.26.jpg");
}

#vendor-item-4 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-4 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

#vendor-item-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/164661a2-6c84-475a-b450-b8f0723bb9f0.jpg");
}

#vendor-item-5 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-5 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

#vendor-item-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80%;
  min-height: 200px;
  background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/6696796e-9803-466c-8764-17d29b45e2be.jpg");
}

#vendor-item-6 a {
  color: #fff;
  background-color: rgba(84, 83, 83, 0.5);
  text-decoration: none;
}

#vendor-item-6 a:hover {
  background-color: rgba(35, 35, 35, 0.5);
}

.cater-intro img {
  overflow: hidden;
}

.cater-intro .img-thumbnail {
  background: lightcoral;
  border: 1px solid lightcoral;
}

.cater-intro h2 {
  color: #48a2b9;
}

.cater-intro a {
  background: lightcoral;
  border: lightcoral;
  color: #fff;
}

.cater-intro a:hover {
  background: #e27979;
  border: #e27979;
  color: #fff;
}

.catering {
  color: #48a2b9;
}

.carousel-item img {
  border: solid lightcoral;
  width: 100%;
  max-height: 400px;
}

#numGuests,
input[type="range"] {
  font-size: 1.5rem;
}

#costStart::before {
  content: "$";
}

#costStart::after {
  content: "-";
}

#costStart,
#costEnd {
  font-size: 2rem;
}

input[type="range"]::before {
  content: "50";
  margin-right: 10px;
}

#estimator::after {
  content: "500";
  margin-left: 10px;
}

.test {
  height: 100vh;
}

iframe {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */