// Colors
$base-color: rgb(72, 162, 185);
$secondary-color: rgb(240, 128, 128);
$secondary-color-hover:rgb(226, 121, 121);
$text-white: #fff;
$jumbo-overlay: rgba(41, 45, 31, 0.5);
$jumbo-overlay-carousel: rgba(136, 136, 136, 0.5);

// Universals
.row-content {
    height: 100vh;
}

.h-size {
    font-size: 2.5rem;
}

.bg-coral {
    background-color: $secondary-color;
}

.text-coral {
    color: $secondary-color;
}

.btn-info {
    font-size: 2rem;
}

.btn-coral {
    background: $secondary-color;
    border: $secondary-color;
    color: $text-white;
    font-size: 2rem;
}

.btn-coral:hover {
    background: $secondary-color-hover;
    border: $secondary-color-hover;
    color: $text-white;
}

.navbar {
    padding: 1.5rem;

    img {
        height: 40px;
        width: 40px;
    }
}

.nav-link {
    font-size: 1.25rem;
}

.navbar-brand {
    font-size: 1.75rem;
    margin-right: 0;
}


footer {
    color: $text-white;

    h5 {
        font-size: 1.5rem;
    }

    a {
        color: $text-white;
        font-size: 1.25rem;
        text-decoration: none;

    }

    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

// index.html
.jumbotron {
    background-image: url('../img/momo-truck.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    color: $text-white;
}

.overlay {
    background: $jumbo-overlay;
    border-radius: .75;
    padding: 1rem;
}

.overlay-2 {
    background: $jumbo-overlay-carousel;
    border-radius: .75;
    padding: 1rem;
}

.intro {
    background: $secondary-color;
    color: $text-white;

    .img-thumbnail {
        background: $base-color;
        border: 1px solid $base-color;
    }

    .lead {
        font-size: 1.5rem;
    }
}

// vendor section
@mixin vendor-item {

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 80%;
    min-height: 200px;

    a {
        color: $text-white;
        background-color: rgba(84, 83, 83, .5);
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(35, 35, 35, 0.5);
    }
}

// vendor-index
#vendor-item-1 {
    @include vendor-item;
    background-image: url("../img/big-d-1.jpeg");
}

#vendor-item-2 {
    @include vendor-item;
    background-image: url("../img/poblanito-1.jpeg");
}

#vendor-item-3 {
    @include vendor-item;
    background-image: url("../img/stuftd-1.jpeg");
}

#vendor-item-4 {
    @include vendor-item;
    background-image: url("../img/el-bronco-1.jpg");
}

#vendor-item-5 {
    @include vendor-item;
    background-image: url("../img/poke-motion-1.jpeg");
}

#vendor-item-6 {
    @include vendor-item;
    background-image: url("../img/dirty-bird-1.jpeg");
    ;
}

// end vendor index

// catering intro
.cater-intro {

    img {
        overflow: hidden;
    }

    .img-thumbnail {
        background: $secondary-color;
        border: 1px solid $secondary-color;
    }

    h2 {
        color: $base-color;
    }

    a {
        background: $secondary-color;
        border: $secondary-color;
        color: $text-white;
    }

    a:hover {
        background: $secondary-color-hover;
        border: $secondary-color-hover;
        color: $text-white;
    }
}

// end index.html

// Catering.html
.catering {
    color: $base-color;
}


.carousel-item {
    img {
        border: solid $secondary-color;
        width: 100%;
        max-height: 400px;
    }

    p {
        font-size: 1.25rem;
    }
}



#numGuests {
    color: $secondary-color;
}



#numGuests,
input[type="range"] {
    font-size: 2rem;
}

#costStart::before {
    content: "$";
}

#costStart::after {
    content: "-";
}

#costStart,
#costEnd {
    font-size: 3rem;
}

input[type="range"]::before {
    content: "50";
    margin-right: 10px;
}

// input type=range was causing bug in modal, shows 500 after date
#estimator::after {
    content: "500";
    margin-left: 10px;
}



// vendor page
iframe {
    width: 100%;
    height: 100%;
    border: 4px solid $base-color;
}

.card {
    height: 100%;
    margin-top: 2rem;

}

.card-title {
    color: $base-color;
}

.checked-star {
    color: orange;
}

@media only screen and (min-width: 576px) {

    .card-img-top {
        height: 200px;
    }
}