$base-color: rgb(72, 162, 185);
$secondary-color: rgb(240, 128, 128);
$text-white: #fff;
$jumbo-overlay: rgba(41, 45, 31, 0.5);


* {
    margin: 0;
    padding: 0;
}

// index.html
.jumbotron {
    background-image: url('../img/momo-truck.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    color: $text-white;





}

.overlay {
    background: $jumbo-overlay;
    border-radius: .75;
    padding: 1rem;
}

.intro {
    background: $secondary-color;
    color: $text-white;

    .img-thumbnail {
        background: $base-color;
        border: 1px solid $base-color;
    }

    .lead {
        font-size: 1rem;
    }
}

// end index.html
.row-content {
    height: 100vh;
}