// Colors
$base-color: rgb(72, 162, 185);
$secondary-color: rgb(240, 128, 128);
$secondary-color-hover:rgb(226, 121, 121);
$text-white: #fff;
$jumbo-overlay: rgba(41, 45, 31, 0.5);

// Universals
.row-content {
    height: 100vh;
}

.row-half {
    height: 50vh;
}

.btn-coral {
    background: $secondary-color;
    border: $secondary-color;
    color: $text-white;
}

.btn-coral:hover {
    background: $secondary-color-hover;
    border: $secondary-color-hover;
    color: $text-white;
}



footer {
    color: $text-white;

    h5 {
        font-size: 1.5rem;
    }

    a {
        color: $text-white;
        font-size: 1.25rem;
        text-decoration: none;

    }

    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

// index.html
.jumbotron {
    background-image: url('../img/momo-truck.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    color: $text-white;
}

.overlay {
    background: $jumbo-overlay;
    border-radius: .75;
    padding: 1rem;
}

.intro {
    background: $secondary-color;
    color: $text-white;

    .img-thumbnail {
        background: $base-color;
        border: 1px solid $base-color;
    }

    .lead {
        font-size: 1rem;
    }
}

// vendor section
@mixin vendor-item {

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 80%;
    min-height: 200px;

    a {
        color: $text-white;
        background-color: rgba(84, 83, 83, .5);
        text-decoration: none;
    }

    a:hover {
        background-color: rgba(35, 35, 35, 0.5);
    }
}

// vendor-index
#vendor-item-1 {
    @include vendor-item;
    background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/8fef1e0a-a5fc-4614-b0bb-c13a037c833f.jpg");
}

#vendor-item-2 {
    @include vendor-item;
    background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/19997ec5-a4a5-4313-9d19-0808aa4dd793.jpg");
}

#vendor-item-3 {
    @include vendor-item;
    background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/92da2897-cfca-43c1-b20f-44cf14cf50d9.jpg");
}

#vendor-item-4 {
    @include vendor-item;
    background-image: url("http://4.bp.blogspot.com/-uxkAikx44To/U96MdKfwGwI/AAAAAAAAU9A/gm1s_9IPLk0/s1600/2014-07-12+02.39.26.jpg");
}

#vendor-item-5 {
    @include vendor-item;
    background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/164661a2-6c84-475a-b450-b8f0723bb9f0.jpg");
}

#vendor-item-6 {
    @include vendor-item;
    background-image: url("https://d3hbe0kmbam4a5.cloudfront.net/photos/6696796e-9803-466c-8764-17d29b45e2be.jpg");
    ;
}

// end vendor index

// catering intro
.cater-intro {

    img {
        overflow: hidden;
    }

    .img-thumbnail {
        background: $secondary-color;
        border: 1px solid $secondary-color;
    }

    h2 {
        color: $base-color;
    }

    a {
        background: $secondary-color;
        border: $secondary-color;
        color: $text-white;
    }

    a:hover {
        background: $secondary-color-hover;
        border: $secondary-color-hover;
        color: $text-white;
    }
}

// end index.html

// Catering.html
.catering {
    color: $base-color;
}

.carousel {
    border: solid $secondary-color 5px;
    background: $secondary-color;
}

.carousel-item {
    img {
        width: 100%;
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-item {
        img {
            width: 564px;
            height: 300px;
        }
    }

}

#numGuests,
input[type="range"] {
    font-size: 1.5rem;
}

#costStart::before {
    content: "$";
}

#costStart::after {
    content: "-";
}

#costStart,
#costEnd {
    font-size: 2rem;
}

input::before {
    content: "50";
    margin-right: 10px;
}

input::after {
    content: "500";
    margin-left: 10px;
}